.edtech-floating-back-btn {
  position: fixed;
  top: 95px;
  left: 65px;

  z-index: 1000;

  background-color: rgba(61, 92, 255, 0.1);
  color: var(--primary-color);

  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;

  transition: all 0.2s ease;
}

.edtech-floating-back-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
  background: var(--primary-color);
  color: white;
}

.edtech-floating-back-btn:active {
  transform: translateY(0);
}
